/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* google font */
/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwind css */
:root {
  --width: 1542px;
  --primary-font: "Inter", sans-serif;
  --header-bg-color: #eaf4fc;
  --category-bg: #f7fafc;
  --category-box-color: #ffecdb;
  --category-text-color: #000000;
  --notes-bg-color: #f2f2f2;
  --notes-headingText-color: #000080;
  --notes-subText-color: #0066cc;
  --white-color: #ffffff;
  --btn-bg: #000066;
  --gradient-background: linear-gradient(
    135deg,
    #003 0%,
    #006 50.52%,
    #009 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: var(--primary-font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li,
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.common_btn {
  background: var(--gradient-background);
}
.cross_btn:hover {
  color: #000000 !important;
  cursor: pointer;
}
.paragraph {
  line-height: 55px;
}

.notes {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.color_box .widget-svg {
  background: #d0f3cb;
}
.color_box1 .widget-svg {
  background: #fff8bf;
}
.color_box2 .widget-svg {
  background: #f7caff;
}
.color_box3 .widget-svg {
  background: #fef4e1;
}
.color_box4 .widget-svg {
  background: #fee1e1;
}
.color_box5 .widget-svg {
  background: #fff8bf;
}
.text-hero {
  line-height: 60px !important;
}
.widget-svg {
  width: 26px !important;
  height: 26px !important;
  transition: transform 0.2s ease-in-out 0s;
  border-radius: 4px;
  padding: 3px;
}
.round {
  width: 7px;
  height: 7px;
  background-color: #43a047;
  border-radius: 100%;
}

.round1 {
  width: 7px;
  height: 7px;
  background-color: #fcd700;
  border-radius: 100%;
}
.round2 {
  width: 7px;
  height: 7px;
  background-color: #7b1fa2;
  border-radius: 100%;
}
.round3 {
  width: 7px;
  height: 7px;
  background-color: #ff7a00;
  border-radius: 100%;
}
.round4 {
  width: 7px;
  height: 7px;
  background-color: #ea0000;
  border-radius: 100%;
}
.round5 {
  width: 7px;
  height: 7px;
  background-color: #fcd700;
  border-radius: 100%;
}
.modal {
  position: "absolute";
  width: 654px;
}
.modal_btn {
  background: var(--gradient-background);
  color: white;
}

.close_modal:hover {
  color: #000 !important;
}
.close_modal {
  color: #d6d6d6 !important;
}
.css-18nc3u2 .MuiOutlinedInput-root {
  padding: 9px;
  border-radius: 40px !important;
  border-color: #000066 !important;
  border-style: solid;
  border-width: 3px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -8px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: 40px !important;
  border-style: solid !important;
  border-width: 3px !important;
  overflow: hidden;
  min-width: 0%;
  border-color: #000066 !important;
  height: 65px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
/* .DEMO::after {
  position: absolute !important;
  content: "Rechercher";
  top: 6px;
  background: #000066;
  height: 50px !important;
  width: 140px;
  color: #dae4ff !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  right: 6px;
  font-weight: 600;
  padding: 0 5px !important;
  
} */
